.announcement {
    flex-direction: row;
    display: flex;
    justify-content: center;

    .singleannouncement {
        display: flex;
        flex: 6;
        flex-direction: column;
        // gap: 10px;
        margin: 20px;
    }

    .Categories {
        background-color: white;
        display: flex;
        flex: 3;
        flex-direction: column;
        margin: 70px 50px;
        gap: 10px;
        height: max-content;
        padding: 20px;
        border-radius: 5px;

        .addbutton {
            .button {
                background-color: #19AC8E;
                border: none;
                color: #fff;
                height: 30px;
                cursor: pointer;
                width: max-content;
                padding: 5px 10px;
                text-decoration: none;
            }
        }

        .button {
            display: flex;

            img {
                height: 30px;
                width: 30px;
            }

            button {
                width: 100px;
                text-align: left;
                font-weight: 700;
                font-size: 20px;
                cursor: pointer;
                border: none;
                background-color: #fff;
            }
        }
    }
}